@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

* {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

body {
  width: 400px;
  margin-bottom: 30px;
  padding: 10px;
}

p {
  text-align: center;
}

a {
  color: #4285f4;
}

a:hover {
  color: #357ae8;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #4d5160;
  color: #ffffff;
}

#settings-title {
  text-align: center;
}

#visit-tutorial {
  color: #ffffff;
  border: none;
}

.radio-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.vradio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.engine {
  font-size: 12px;
  background-color: #cccccc;
  border: 1px solid #333333;
  margin: 0;
  margin-left: 3px;
  padding: 3px;
  width: 375px;
  height: 16px;
}

.engine:focus {
  outline: none;
}

button {
  margin: 4px;
  padding: 3px;
  width: 375px;
  background-color: #4285f4;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

button:hover {
  background-color: #357ae8;
}

button:disabled {
  background-color: #808080;
  cursor: not-allowed;
}

#error {
  display: none;
  color: #ff0000;
}

.light table, .dark table {
  margin: 3px;
  padding: 3px;
  width: 375px;
  background-color: #cccccc;
  border: 1px solid #333333;
  border-collapse: collapse;
  margin-top: 10px;
}

.light th, .dark th {
  background-color: #4285f4;
  color: #ffffff;
  border: 1px solid #333333;
}

.light td, .dark td {
  background-color: #cccccc;
  color: #000000;
  border: 1px solid #333333;
  padding: 8px;
  text-align: left;
}

.delete-btn {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #808080;
}

.delete-btn:disabled {
  background-color: #808080;
  cursor: not-allowed;
}

#settings-json {
  font-size: 12px;
  background-color: #cccccc;
  border: 1px solid #333333;
  margin: 0;
  margin-left: 3px;
  padding: 3px;
  width: 368px;
  height: 150px;
  min-height: 150px;
  max-height: 300px;
  resize: vertical;
}

#settings-json:focus {
  outline: none;
}
